<section>
    <div class="container pt-5">
        <div class="row">
            <h3>Edit Schedule</h3>
            <div class='col-md-6'>
        <form action="/edit-schedule/{{schedule.schedule_id}}" method="POST">
          <div class='form-group mt-4 pt-5'>
            <label for=''>
              Schedule Id
            </label>
            <input
              type='text'
              class='form-control'
              name="schedule_id"
              placeholder='Schedule Id'
              value="{{schedule.schedule_id}}"
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Train Id
            </label>
            <input
              type='text'
              class='form-control'
              name="train_id"
              placeholder='Train id'
              value="{{schedule.train_id}}"
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Source
            </label>
            <input
              type='text'
              class='form-control'
              name="source"
              placeholder='Source'
              value="{{schedule.source}}"
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Destination
            </label>
            <input
              type='text'
              class='form-control'
              name="destination"
              placeholder='Destination'
              value="{{schedule.destination}}"
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Departure Time
            </label>
            <input
              type='time'
              class='form-control'
              name="departure_time"
              placeholder='Departure Time'
              value="{{schedule.departure_time}}"
            />
          </div>
          <div class='form-group mt-4'>
            <label for=''>
              Arrival Time
            </label>
            <input
              type="time"
              class='form-control'
              name="arrival_time"
              placeholder='Arrival Time'
              value="{{schedule.arrival_time}}"
            />
          </div>
          
          <button type='submit' class='btn btn-primary mt-4' onclick="return confirm('Are you sure you want to update {{schedule.schedule_id}}?')">
            Update
          </button>
        </form>
      </div>
        </div>
    </div>
</section>